body {
  background: #2d3748;
}

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/
.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}

.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/
@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes in {
  to {
    transform: translateY(0);
  }
}

.text {
  color: #e2e2e2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.text h1 {
  font-size: 1.4em;
  text-shadow: 0px 0px 20px white;
  font-weight: bold;
}

.tsiry{
  font-size: 2em;
  font-weight: bold;
  color: rgb(24, 172, 218);
}

#timer {
  font-size: 3em;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 20px #48C8FF;
  text-align: center;
  padding: 1em  2em;
  border-radius: 50px;
background: #093652;
box-shadow: inset 13px 13px 26px #052132, 
            inset -13px -13px 26px #0d4b72;
}

#timer div {
  display: inline-block;
  min-width: 100px;
  margin:3px;
}

#timer div span {
  color: #B1CDF1;
  display: block;
  font-size: .35em;
  font-weight: 400;
}

.d-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}


/*confety*/

.container .welcome {
  font-family: sans-serif;
  text-transform: uppercase;
  display: block;
}

.container {
  text-align: center;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); /*隐藏作用：如果没有用transform方式进行居中显示，则width：100%会向右侧延申，左侧为空*/
  width: 100%;
  margin-top: 3em;
}

.welcome {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 10px;
  position: relative;
  animation: text 3s 1;
  text-shadow: 0px 0px 20px white;
}

.muzile {
  font-size: 30px;
  color: #70a1ff;
}

@keyframes text {
  0%{
      color: #000;
      margin-bottom: -40px;
  }

  30%{
      letter-spacing: 25px;
      margin-bottom: -40px;
  }

  85%{
      letter-spacing: 8px;
      margin-bottom: -40px;
  }
}
